@using FarmersMarket.Models.Enums
@using FarmersMarket.Models.ViewModels
@model OrderViewModel
    
<tr>
    <td>@Model.Id</td>
    <td>@Model.DateOfOrder</td>
    <td>@Model.DateOfDelivery</td>
    <td><a asp-area="Admin" asp-controller="Orders" asp-action="Client" asp-route-id="@Model.Id">client</a></td>
    <td><a asp-area="Admin" asp-controller="Orders" asp-action="Products" asp-route-id="@Model.Id">products</a></td>
    <td>@Model.TotalPrice lv.</td>
    <td>@Model.PaymentType</td>
    <td>@Model.Status</td>
    @if (Model.Status != OrderStatus.Delivered)
            {
        <td>@Html.ActionLink("Deliver", "DeliverOrder", "Orders", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger" })</td>
    }
</tr>



