@model ProductViewModel

<div class="col-sm-6 col-md-4">
    <div class="card">
        <img src="@Model.ImageUrl" asp-append-version="true" alt="Product image" class="card-img-top" style="max-width:100%;"/>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <h3 style="display: flex; justify-content: space-between;"><span>@Model.Unit</span><span style="color: red;">@Model.Price lv</span></h3>
            @if (User.Identity != null && User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
               
                    <a data-ajax="true"
                       data-ajax-loading="#productToCart"
                       data-ajax-method="GET"
                       href='@Url.Action("AddProduct", "ShoppingCart", new { area = "", id = Model.Id })'
                       class="btn btn-primary">Add
                    </a>
            }
            @if (User.IsInRole("Admin"))
            {
                
                    @Html.ActionLink("Edit", "Edit", "Products", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Products", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                
            }
        </div>
    </div>
</div>



