@using FarmersMarket.Models.ViewModels
@model IEnumerable<FarmViewModel>

@{
    ViewData["Title"] = "Farms";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr/>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>Action</th>
        </tr>

        @Html.DisplayFor(farm => farm)

    </table>

     <div>
        <a  asp-area="Admin" asp-controller="Farms" asp-action="Create" class="btn btn-success">Create</a>
    </div>
</div>


