@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (!User.IsInRole("Admin"))
    {
        <li id="shopping-cart">
            <a class="nav-link text-dark fa fa-shopping-cart" asp-area="" asp-controller="ShoppingCart" asp-action="Index"></a>
        </li>
        <li id="notes">
            <a href="javascript:;" class="icon-btn notification-btn notification-active text-decoration-none">
                <span class="cell">
                    <span class="icon-wrap" id="notify">
                        <i class="fa fa-bell"></i>
                        <span class="notification-count">
                            <span class="table-holder"><span class="circle-cell">0</span></span>
                        </span>
                    </span>
                </span>
            </a>
        </li>
    }
    <partial name="_Culture" />
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index" title="Manage">@localizer["Hello"] @User.Identity?.Name</a>
    </li>
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">@localizer["Logout"]</button>
        </form>
    </li>
}
else
{
    <partial name="_Culture" />
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@localizer["Register"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@localizer["Login"]</a>
    </li>
}
</ul>
