@model IEnumerable<ShoppingCartProductViewModel>

@if (Model == null || !Model.Any())
{
    <div class="container" style="text-align: center; color: red;">
        <h1>You don't have any products in your shopping cart.</h1>
    </div>
}
else
{
    <div class="container">
        <div hidden="hidden" id="removeProduct" class="alert alert-dismissible alert-danger">The product was removed!</div>
        <div hidden="hidden" id="increaseQuantity" class="alert alert-dismissible alert-success">The product quantity was increased!</div>
        <div hidden="hidden" id="decreaseQuantity" class="alert alert-dismissible alert-danger">The product quantity was decreased!</div>
        <div hidden="hidden" id="ordered" class="alert alert-dismissible alert-success">Your order was successfully send!</div>
        <h1 style="text-align: center;">@ViewBag.Title</h1>
        <div class="cart" id="myCart">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0.00m;
                    }
                    @foreach (var cart in Model)
                    {
                        ViewBag.ShoppingCartId = cart.ShoppingCartId;

                        total += (cart.Product.Price * cart.Units);
                        <tr>
                            <td>@cart.Product.Name</td>
                            <td>
                                <a data-ajax="true"
                                   data-ajax-loading="#decreaseQuantity"
                                   data-ajax-update="#myCart"
                                   data-ajax-mode="replace"
                                   data-ajax-method="GET"
                                   href='@Url.Action("DecreaseProductUnits", "ShoppingCart", new { area = "", cartId = cart.ShoppingCartId, id = cart.ProductId })'
                                   class="btn btn-danger btn-xs">-
                                </a>

                                <span>@cart.Units</span>

                                <a data-ajax="true"
                                   data-ajax-loading="#increaseQuantity"
                                   data-ajax-update="#myCart"
                                   data-ajax-mode="replace"
                                   data-ajax-method="GET"
                                   href='@Url.Action("IncreaseProductUnits", "ShoppingCart", new { area = "", cartId = cart.ShoppingCartId, id = cart.ProductId })'
                                   class="btn btn-success btn-xs">+
                                </a>
                            </td>
                            <td>@(cart.Product.Price * cart.Units)</td>
                            <td>
                                <a data-ajax="true"
                                   data-ajax-loading="#removeProduct"
                                   data-ajax-update="#myCart"
                                   data-ajax-mode="replace"
                                   data-ajax-method="GET"
                                   data-ajax-confirm = "Are you sure you want to remove this product from your shopping cart?"
                                   href='@Url.Action("RemoveProduct", "ShoppingCart", new { area = "", cartId = cart.ShoppingCartId, id = cart.ProductId })'
                                   class="btn btn-danger btn-sm">Remove
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h2 class="d-flex justify-content-end">Total: @total lv.</h2>
            <input type="hidden" name="orderId" value="@ViewBag.OrderId" id="order-Id" />
            <div class="form-group d-flex justify-content-end">
                <div class="col-lg-3">
                    <select class="form-select selectpicker" id="status">
                        <option>Select Payment Method</option>
                        <option value="cash">Cash</option>
                        <option value="creditCard">Credit Card</option>
                    </select>
                </div>
            </div>
             <br>
            <div class="form-group d-flex justify-content-end d-none" id="payWithCreditCard">
               @* <form asp-controller="ShoppingCart" asp-action="PlaceOrderWithStripe" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_51IkXZJCdKFy9M6tT2qwwXhSeQNcGQptVSDyvKeywqHcdHqbbX1wzQZ1rEs9e3545o58CBhYd2soQL3BG3qLMMNwP007sc0Za4C"
                    data-name="Custom t-shirt"
                    data-description="Your custom designed t-shirt"
                    data-amount="{{ORDER_AMOUNT}}"
                    data-currency="cad">
                  </script>
                </form>*@
                <a data-ajax="true"
                    data-ajax-loading="#ordered"
                    data-ajax-update="#myCart"
                    data-ajax-mode="replace"
                    data-ajax-method="GET"
                    href='@Url.Action("PlaceOrderWithStripe", "ShoppingCart", new { area = "", id = ViewBag.ShoppingCartId, totalAmount = total })'
                    class="btn btn-success order-button">Pay now
                </a>
            </div>
            <div class="form-group d-flex justify-content-end d-none" id="payWithCash">
                <a data-ajax="true"
                    data-ajax-loading="#ordered"
                    data-ajax-update="#myCart"
                    data-ajax-mode="replace"
                    data-ajax-method="GET"
                    href='@Url.Action("PlaceOrder", "ShoppingCart", new { area = "", id = ViewBag.ShoppingCartId, totalAmount = total })'
                    class="btn btn-success order-button">Order now
                </a>
            </div>
            <br>
            <br>
        </div>
        <br />
        <br />

    </div>
}
